{% extends "layout.html" %}

{% block content %}
<canvas id="barChart" width="30" height="10"></canvas>
<script type="text/javascript">
  const poles = {{ poles | tojson}}

  const values = {{ values }}

  // Bar chart
  new Chart(document.getElementById("barChart"), {
    type: 'bar',
    data: {
      labels: poles,
      datasets: [
        {
          label: "Height",
          data: values
        }
      ]
    }
  });
</script>
<form name="index" action="" method="post">
  <div class="flex flex-col items-center">
    <p class="my-5 text-gray-600">Please choose a level you want to play.</p>
    <div class="inline-flex" role="group" aria-label="Button group">
      <button name="level" value="easy" class="h-10 px-5 text-gray-600">Easy</button>
      <button name="level" value="medium" class="h-10 px-5 text-gray-600">Medium</button>
      <button name="level" value="hard" class="h-10 px-5 text-gray-600">Hard</button>
    </div>
  </div>
</form>
{% endblock %}