<!DOCTYPE html>
<html>

<head>
    <title>Water Carrier</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dist/css/output.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='../static/css/main.css')}}"/>
</head>

<body>
    {% include "includes/nav.html" %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    <p class="error-message">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}

    {% endblock %}
</body>

</html>