<form name="index" action="" method="post">
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
                <a class="mr-5 hover:text-gray-900 {% if index %} active {% endif %}"
                    href="{{url_for('index')}}">Home</a>
                <a class="mr-5 hover:text-gray-900 {% if leaderboard %} active {% endif %}"
                    href="{{url_for('leaderboard')}}">Leaderboard</a>
                {% if not session['userid'] %}
                <a class="mr-5 hover:text-gray-900 {% if register %} active {% endif %}"
                    href="{{url_for('register')}}">Register</a>
                <a class="mr-5 hover:text-gray-900 {% if login %} active {% endif %}"
                    href="{{url_for('login')}}">Login</a>
                {% endif %}
                {% if session['userid'] %}
                <a class="mr-5 hover:text-gray-900 {% if profile %} active {% endif %}"
                    href="{{url_for('profile')}}">Profile</a>
                <a class="hover:text-gray-900" href="{{url_for('logout')}}">Logout</a>
                {% endif %}

            </nav>
            <a
                class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Water Carrier</span>
            </a>
            <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
                {% if request.path == url_for('index') %}

                <button name="level" value="stop"
                    class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Stop
                </button>
                {% endif %}

            </div>
        </div>
    </header>
</form>